@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#header {
    padding: 20px;
    padding-top: 40px;
    gap: 200px;


}

#header-1 {
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-top: 40px;
    gap: 190px;
    position: sticky;
    top: 0px;
    background-color: #E9F8F9;
}

/* Override slick default arrows with Tailwind look */
.slick-prev,
.slick-next {
    background: none !important;
    border: none !important;
    color: black !important;
    font-size: 28px !important;
    line-height: 1 !important;
    opacity: 1 !important;
    /* always visible */
    z-index: 10;
}

.slick-prev {
    left: -30px !important;
}

.slick-next {
    right: -30px !important;
}